body {
    padding: 0px;
    background-color: lavender;
    color: navy;
    font-family: 'Times New Roman';

    margin-top: 20px;
    margin-bottom: 20px;
}

.navig {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.navlink {
    margin: 2px 8px;
    color: maroon;
    font-family: Cambria;
    border: 5px goldenrod ridge;
    padding: 9px;
    text-align: center;
    background-color: white;
    width: 120px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS';
    background-color: lavenderblush;
    border: maroon groove 2px;
    padding: 5px;
    color: mediumvioletred;
    width: 500px;
    margin: 30px auto;
}

h2 {
    font-size: 23px;
    color: teal;
    text-align: center;
}

h3 {
    color: maroon;
}

section {
    margin-top: 16px;
    margin-bottom: 16px;
    border: dotted maroon 5px;
    padding: 12px;
    background-color: blanchedalmond;
}

ul {
    list-style-type: square;
    color: blue;
}

a {
    color: green;
    font-family:'Lucida Sans';
}

#Languages {
    display: flex;
    padding: 0.7em;
    justify-content: space-between;
}

.language {
    margin: 15px 10px;
    text-align: center;
    max-width: 90%;
}

#Links {
    display: flex;
    justify-content: space-evenly;
}

.Link {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
}

img {
    width: 90px;
    height: 90px;
    margin: 10px;
}

#Skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#Skills li {
    padding: 0.9em;
    color: navy;
}


#LeaveaMessage form label {
    color: maroon;
    display: block;
    padding: 0.2em;
}

#LeaveaMessage form input {
    width: 40%;
    margin: 0.8em;
    padding: 0.6em;
}

#LeaveaMessage form textarea {
    width: 90%;
    margin: 0.8em;
    padding: 0.8em;
}

#LeaveaMessage form button {
    padding: 0.5em;
    margin: 0 auto;
    width: 30%;
    color:  navy;
    background-color: pink;
    display:block;
}

#Projects ul {
    display: flex;
}

#Projects li {
    padding: 0.5em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 16px;
}

/*Media query for mobile devices*/
@media (max-width: 500px)  {
    body {
        background-color: rgb(214, 214, 231);
        margin: 30px 20px;
    }

    h1 {
        font-size: 20px;
        font-style: bold;
        color: rgb(51, 5, 5);
        background-color: rgb(248, 211, 230);
        width: 94%;
    }

    h2 {
        color: green;
    }

    .navlink {
        padding: 0.7em;
        font-size: 0.6rem;
    }
   
    section {
        border: ridge goldenrod;
        background-color: rgb(248, 232, 209);
    }

    #LeaveaMessage form button {
        padding: 1.2em;
        font-size: 20px;
        margin: 0.5em;
        width: 30%;
        color:  navy;
        background-color: pink;
    }

}

/*Media query for tablet devices*/
@media (min-width: 501px) and (max-width: 1100px) {
    h2 {
        color: palevioletred;
    }

    ul {
        margin: 10px;
        background-color: beige;
    }

    h1 {
        font-size: 23px;
        font-style: bold;
        color: rgb(51, 5, 5);
        background-color: rgb(195, 160, 186);
        width: 75%;
    }

    section {
        border: groove brown 8px;
        background-color: rgb(201, 223, 220);
    }

    .navlink {
        padding: 0.8em 1.1em;
        text-decoration: none;
        font-size: 0.8rem;
    }

}